
body {
    font-family: "Roboto Mono", monospace;
        background-color: #0a0a0a;
    
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #2dd99a;
}

.header img {
    width: 10%;
}

.form {
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.span-tac {
    margin: 10px;
    
}
.span-tac a {
    color: #ffff;
    text-decoration: none;
}
.span-tac :hover{
    color: #b3fae0;
}
label {
    margin: 15px;
}

.button {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.button-send-forms {
    background-color: #2dd99a;
    border: none;
    border-radius: 20px;
    width: 200px;
    height: 30px;
}
